@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url(/resources/font/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "NotoBold";
  src: local("NotoSansKR"), url(/resources/font/NotoSansKR-Bold.otf);
}
body {
  font-family: "NotoSansKR";
  color:black;
}
