#projectContainer{
	margin-bottom: 150px;
}

.container {
   min-width: 1200px; 
}

.return_img{
    width: 80px;
}

.return_img:hover{
    cursor: pointer;
}

.recruitBox{
	margin-top: 50px;
}

.rListBox{
	margin-top: 120px;
}

.rBox_navi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

#left_site{
    margin-left: 20px;
    display: flex;
    cursor: pointer;
}

.rBox_Leftnavi_right{
    margin-left: 10px;
    opacity: 0.5;
}
.rBox_navi_icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.navi_left_font{
    position: relative;
    top: 8px;
    font-size: 30px;
    font-weight: 900;
}


#rightFont{
    color: #90d1b4;
    font-size: 25px;
    font-weight: 900;
}
.navi_right_font{
    color: #90d1b4;
    font-size: 20px;
    font-weight: 900;
}

.navi_checkbox{
    position: relative;
    top: 8px;
    width: 30px;
    height: 30px;
}

#navi_button{
    position: relative;
    bottom: 3px;
    margin-left: 20px;
}

.imgBox{
    /* border: 2px solid #90d1b4; */
    margin-right: 10px;
}
.myInfoImg{
    width: 150px;
    height: 150px;
}

.contentFlexBox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 80px;
}

.contentBox{
    width: 600px;
    border: 2px solid #90d1b4;
}
.textFlexBox1{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin: 15px;
}

.textFlexBox1:first-child{
    margin-left: 25px;
}

.textFlexBox2{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.rankImg{
	width: 60px;
	height: 60px;
	margin-right: 45px;
}

.textContent{
    white-space: nowrap;
    height: 30px;
    font-size: 18px;
    font-weight: 900;
    width: 300px;
    
}
.contentText{
    overflow: hidden;
    text-overflow: ellipsis;
}

.countImg{
    width: 20px;
    height: 20px;
}

.countBox{
    margin-top: 20px;
    margin-right: 30px;
}

.bottomFlexBox{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mSubImgBox{
    margin-left: 30px;
}

.langImg{
    position: relative;
    top: 10px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.lankImg{
    width: 80px;
    margin-right: 60px;
}
.countText{
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.return_img{
    width: 80px;
}

.return_img:hover{
    cursor: pointer;
}

.titleFlexBox{
    display: flex;
    margin-bottom: 20px;
    margin-top: 80px;
}
.titleText{
    font-size: 40px;
    font-weight: 900;
    position: relative;
    top: 8px;

}
.iconImg{
    width: 70px;
    margin-right: 10px;
}
.Line{
    width: 1200px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-bottom: 3px solid #90d1b4;
}
.btnBox{
    text-align: center;
    position: relative;
    left: 280px;
    top: 10px;
    margin-right: 60px;
}
.btnBox>button{
    margin-left: 10px;
}

#pageNavi{
	display:flex;
	font-size : 20px;
	margin-top : 60px;
	margin-left : 35%;
	margin-bottom : 80px;
	width:420px;
	/* margin: 0 auto; */
	justify-content: center;
}

#rightSiteBtn{
	position: relative;
	bottom: 3px;
	margin-right: 10px;
}

.clickRecruitTeamTag{
	text-decoration: none;
}

