#projectContainer{
	margin-bottom: 150px;
}

.container {
   min-width: 1200px; 
}

.return_img{
    width: 80px;
}

.return_img:hover{
    cursor: pointer;
}


.main{
    width: 1200px;
}

.main_wrap{
    margin-top: 80px;
    width: 1200px;
}

.titleBox{
    width: 800px;
}
.titleText{
    font-size: 35px;
    font-weight: 900;
}

.noticeInfoFlexBox{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.memberInfo{
    display: flex;
    width: 600px;
}
.profileImg{
    width: 60px;
    height: 60px;
}
.memberIdText{
    font-weight: 900;
    position: relative;
    top: 25px;
    margin-left: 10px;
}
.rankImg{
    width: 60px;
    height: 60px;
}
.writeDate{
    position: relative;
    right: 80px;
}

.useLang{
    font-size: 25px;
}
#languageIcon{
    position: relative;
    bottom: 2px;
    font-size: 18px;
}

.line{
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #90d1b4;
}

.noticeInfoFlexBox2{
    display: flex;
    justify-content: space-between;
}

.deadBtnBox{
    position: relative;
    right: 80px;
}

.datailContent{
    margin-bottom: 40px;
}

.bottomContentFlexBox{
    display: flex;
    justify-content: space-between;
}
.countImg{
    width: 40px;
    margin-right: 15px;
}
.countText{
    font-size: 16px;
    font-weight: 900;
    margin-right: 10px;
}

.commentWriteBox{
    margin-top: 100px;
    overflow: hidden;
}
.commentTitleText{
    font-size: 36px;
    font-weight: 900;
}
.commentBtnBox{
    margin-top: 15px;
    float: right;
}

.commmentInfoFlexBox{
	display: flex;
    margin-top: 20px;
    margin-left: 40px;
}

.profileImgBox{
	display: flex;
}

.reProfileImg{
	width: 60px;
	height: 60px;
	display: flex;
}

.commentDate{
    font-weight: 600;
    margin-left: 20px;
}
.commentContent{
    width: 1000px;
    margin-top: 10px;
    margin-left: 50px;
}

.reCommentContent{
	width: 1000px;
    margin-top: 10px;
    margin-left: 80px;
}

.nestedCommentFlexBox{
    display: flex;
    height: 140px;
}
.nestedCommnetImg{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.nestedCommentBox{
}

.updateText{
    text-decoration: none;
}

.insertReText{
	text-decoration: none;
}

.deleteText{
	text-decoration: none;
}

.bottomContentFlexBox_iconBox{
	display: flex;
}

.updateTextBox{
	display: none;
	margin-top : 20px;
	margin-bottom : 10px;
}
.reCommentTextBox{
	display: none;
	margin-top : 20px;
	margin-bottom : 10px;
}
.updateReCommentTextBox{
	display: none;
}

.updateFunction{
	display : flex;
	margin-bottom : 10px;
}
.updateText{
	color : #90d1b4;
	margin-left : 10px;
	margin-right : 10px;
	text-decoration: none;
}
.nestedCommentBox{
}
#deleteReComment{
	text-decoration: none;
}
#deleteReComment:hover{
	font-weight: 700;
}

/* 좋아요 클릭 모션 */

/* .like-container {
  filter: url("#filter");
}

.like-cnt {
  cursor: pointer;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}
.like-btn {
  color: #fff;
}
 */