@charset "UTF-8";
.btn-my {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5rem;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ff1617;
  border: 0 solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-my:hover {
  color: #fff;
  background-color: #ca0000;
}
.btn-my2 {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffe666;
  border: 0 solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-my2:hover {
  color: #fff;
  background-color: #ffd613;
}
.btn-my3 {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #004aad;
  border: 0 solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-my3:hover {
  color: #fff;
  background-color: #005cd9;
}