<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>	
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<!-- 아래에 필요한 것들 추가해용 - 진호 -->
		<typeAlias type="kr.or.contest.vo.Contest" alias="c"/>
	</typeAliases>	
</configuration>
